 body{
        border: black;
         color: antiquewhite;
        background-size:auto;

    }

   img{
        float: left; 
        /*border: 7px solid black;
*/        border-radius: 100%; 
    }
    h2{
        float: right; width: 80%;
    }
    h3{
        float: right; width: 80%;
    }
div > h1{
       font-size;42px;
       float: left; width: 116%;
}
.follow
{
    float: left;
}
.penguin
{
    float: right;
}